@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'LibreFranklin-VariableFont';
	src: url('/fonts/LibreFranklin-VariableFont_wght.woff2') format('woff2 supports variations'),
		url('/fonts/LibreFranklin-VariableFont_wght.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

@layer base {
}

@layer components {
	.container-default {
		@apply container relative mx-auto max-w-7xl px-8 sm:px-14;
	}

	.button-default {
		@apply flex cursor-pointer items-center justify-center px-8 py-3 border-transparent text-base font-medium rounded-2xl text-white bg-yellow-500 hover:bg-yellow-600 md:py-4 md:text-lg outline-none ring-0 focus:outline-none;
	}
}
