@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'LibreFranklin-VariableFont';
	src: url('/fonts/LibreFranklin-VariableFont_wght.woff2') format('woff2 supports variations'),
		url('/fonts/LibreFranklin-VariableFont_wght.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

@layer base {
	/* body {
	} */
}

@layer components {
	.container-default {
		@apply container relative mx-auto max-w-7xl px-4 sm:px-6;
	}

	.btn-blue {
		@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
	}
}
